@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-red-1: #e90523;
    --color-red-2: #a70000;
    --color-red-3: #f10101;

    --color-gradient: linear-gradient(90deg, var(--color-red-1), var(--color-red-2), var(--color-red-3));
}
body{ 
    background: linear-gradient(90deg, var(--color-red-1), var(--color-red-2), var(--color-red-3));
}

body ::-webkit-scrollbar{
    height: 8px;
    width : 8px;
}

body ::-webkit-scrollbar-track{
    background-color: transparent;
}

body ::-webkit-scrollbar-thumb{
    background-color: rgb(166, 6, 153);
    border-radius: 10px;
}


*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #0083fd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #070bff;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header{
    
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #ffffff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.header:after {
    content: "";
    display: block;
    width: 200px;
    height: 3px;
    background: #ffffff; 
    margin: 10px auto;
}

.filmes{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card{
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 320px;
    height: 600px;
}

.filmes .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.filmes .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.filmes .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.card h4 {
    margin-top: 1rem; 
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
   
}
.filmes .card label{
    color: #ccc;
    margin-bottom: 1rem;
}

.filmes .card p{
    color: var(--color-red-1);
    margin-bottom: 1rem;
}
.filmes .card img {
    max-width: 100%; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.filmes .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.filmes .card a:hover{
    color: #1e40af;
}

.rating {
    direction: rtl; 
}
.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
}

.rating label:before {
    content: "\2605";
    font-size: 2rem;
    color: #ccc;
}

.rating input:checked ~ label:before {
    color: #ffdd00; /* Cor amarela para estrelas selecionadas */
}


.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.fix-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0083fd; 
    color: #fff;
    border: none;
    border-radius: 50%; 
    width: 50px;
    height: 50px; 
    font-size: 24px; 
    z-index: 1000;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.fix-button:hover {
    background-color: #070bff; 
    transform: scale(1.1); /
}

.ri-arrow-up-line {
    line-height: 50px; 
    text-align: center; 
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

#listH{
    display: flex;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .filmes{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (max-width: 600px) {
    header .image::before {
        display: none;
    }

    .filmes {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}